@import '../helpers';
@import '../helpers/helpers-front-only';

.alben-main-slider {

	@include md-down {
		overflow: hidden;
		margin-inline: inEm(-16px);}

	&__slider {
		max-height: 85dvh;

		@include md-down {
			max-height: none;
			height: auto;
		}
	}

	&__slide {
		width: max-content;
		max-width: 100%;
		height: auto;
		opacity: .7;
		transition: opacity $transition-default;

		@include md-down {
			width: 100%;
		}

		&.swiper-slide-active {
			opacity: 1;
		}

		&:not(&.swiper-slide-active) {
			cursor: pointer;

			@include mouseover {
				opacity: 1;
			}
		}
	}

	&__image {
		display: block;
		height: 100%;

		@include md-down {
			height: auto;
		}
	}
}
