@import '../helpers';
@import '../helpers/helpers-front-only';

.alben-main-slider {

	&__slide {
		width: max-content;
		max-width: $base-container-width;
		height: auto;
	}

	&__image {
		display: block;
		height: 100%;
	}
}
