.alben-gallery-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background: $clr-bg;
	opacity: 0;
	transition: opacity $transition-default;

	&_active {
		z-index: 10;
		opacity: 1;
	}

	svg {
		pointer-events: none;
	}

	&__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	&__close-button,
	&__fullscreen-button {
		position: absolute;
		z-index: 2;
		top: inEm(20px);
		width: inEm(40px);
		height: inEm(40px);
	}

	&__close-button {
		left: inEm(20px);
	}

	&__fullscreen-button {
		right: inEm(20px);
	}

	&__slider {
		overflow: hidden;
		width: 80%;
		height: 80%;
	}

	&__nav {
		position: absolute;
		top: 0;
		bottom: 0;
		margin-block: auto;
		width: inEm(40px);
		height: inEm(40px);

		&_prev {
			left: inEm(20px);
		}

		&_next {
			right: inEm(20px);
		}
	}
}
